# Azure Configuration
AZURE_STORAGE_ACCOUNT_NAME="your_actual_account_name"
CONTAINER_NAME="mlops-data"

# Optional: If you are using a specific Service Principal for testing
# AZURE_CLIENT_ID="00000000-0000-0000-0000-000000000000"
# AZURE_TENANT_ID="00000000-0000-0000-0000-000000000000"
# AZURE_CLIENT_SECRET="your_secret_here"